
.holder4{
    display:flex;
    font-size: 20px;
 }
 .holder4 .leftSection{
    width:70%;
    height: 100vh;
    background-color: #fff;
    position:relative;
    color: #000;
  
 }
 .holder4 .leftSection .leftSectionContent{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .holder4 .leftSection .leftSectionContent input{
   display: block;
   margin-bottom: 10px;
   padding: 10px 100px;
 }
 .holder4 .rightSection{
   position:relative;
    width:30%;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    color: #fff;
 }
 .holder4 .rightSection .logo{
   direction: rtl;
   font-size: 50px;
 }
 .holder4 .rightSection .rightSectionContent{
   position: absolute;
   top:50%;
   left: 20%;
   transform: translate(-20%, -50%);
 }

